body {
  margin: 0 0 0 0;
  overflow: hidden;
  background-color: #191919;
}
input[type="button"]:hover {
  cursor: pointer;
}
div.buttonbar {
  width: 210px;
  margin: auto;
}
#battlefield {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  height: 320px;
}
.grid {
  color: white;
}
.tile {
  height: 24px;
  width: 24px;
  font-size: 0.3em;
  text-align: center;
  vertical-align: middle;
}
.tile.rock {
  background-color: #BEBEBE;
}
.tile.water {
  background-color: #0077BE;
}
.tile.grass {
  background-color: #54AB47;
}
.creep {
  position: absolute;
  width: 24px;
  height: 24px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
.creep.soldier {
  background-image: url('soldier.gif');
}
.creep.tank {
  background-image: url('tank.gif');
}
.creep.plane {
  width: 46px;
  height: 18px;
  background-image: url('airplane.gif');
}
